#mailPopup {
  width: 25vw; /* 25% de la largeur de l'écran */
  height: 25vh; /* 25% de la hauteur de l'écran */
  max-width: 90%; /* Limite la largeur à 90% de l'écran si nécessaire */
  max-height: 90%; /* Limite la hauteur à 90% de l'écran si nécessaire */
  overflow-y: auto; /* Permet de défiler si le contenu dépasse la hauteur */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrer la popup */
  z-index: 1000;
}

#popupHeader {
  font-size: 18px;
  margin-bottom: 15px;
}

#popupSearchContainer {
  margin-bottom: 15px;
}

#popupSearchInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

#popupSearchInput:focus {
  border-color: #3498db;
  outline: none;
}

.mailCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.mailIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.mailSubject {
  flex: 1;
  font-weight: bold;
}

.mailAuthor, .mailDate {
  font-size: 12px;
  color: #888888;
}

button {
  padding: 5px 10px;
  margin-left: 5px;
  font-size: 12px;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}
